/* Show it is fixed to the top */
body {
	min-height: 75rem;
	padding-top: 4.5rem;
}

.jms-translation-anchor {
	padding-top: 50px;
	margin-top: -50px;
}

.jms-sources-list-item {
	word-break: break-all;
}